@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Sen-Regular.woff2") format("woff2"),
  		url("fonts/Sen-Regular.woff") format("woff");
  font-display: swap;
};

@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Sen-Bold.woff2") format("woff2"),
  		url("fonts/Sen-Bold.woff") format("woff");
  font-display: swap;
};

@font-face {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Bahnschrift.woff2") format("woff2"),
  		url("fonts/Bahnschrift.woff") format("woff");
  font-display: swap;
};
